@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #818181;
  background-image: linear-gradient(0deg, #818181 0%, #f7f7f7 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
img{
  max-width: 100%;
}

.mobile-container{
  width: 400px;
  background-color: #F0F0F0;
  box-shadow: 0 0 10px 2px #3333331A;
}

header{
  padding:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header input{
  background-color: #dcdcdc;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button{
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container{
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  padding: 0.25rem 1rem;
  text-align:center;
}

.fav-meals{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li{
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}
.fav-meals li .clear{
  background-color:transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear{
  opacity: 1;
}

.fav-meals li img{
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331A;
  object-fit: cover;
  height: 60px;
  width: 60px;
}

.fav-meals li span{
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  width: 75px;
}
.fav-meals li:hover span{
  white-space:normal;
  overflow:auto;
}

.meal{
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331A;
  cursor: pointer;
  margin:1.5rem;
  overflow: hidden;
}

.meal-header{
  position: relative;
}

.meal-header .random{
  position: absolute;
  top: 1rem;
  background-color: #FFF;
  padding: 0.25rem 1rem;
  border-radius: 0 12px 3px 0;
}

.meal-header img{
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4{
  margin: 0;
}

.meal-body button{
  border: none;
  background-color: transparent;
  color:grey;
  cursor: pointer;
  font-size: 1.2rem;
}

.meal-body .fav-button.active{
  color: lightpink;
  
}

.popup-container{
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0;
}

.popup-container.hidden{
  opacity:0;
  pointer-events: none;
}

.popup{
  background-color: white;
  padding: 2rem;
  position: relative;
  overflow:auto;
  max-height:100vh;
  max-width: 600px;
  width: 100%;
}
.popup .close-popup{
  border:none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.meal-info h1{
  text-align: center;
}

